 @charset "UTF-8";
 /* -- Regra CSS -- */

 body {
   background-color: antiquewhite;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }

 h1 {
   color: blue;
   background-color: yellow;
   text-decoration: underline;
 }

 h2 {

   color: brown;

 }

 p {

   text-align: justify;

 }